name: Tests

on:
  pull_request:
  push:
    branches: [master, dev]

jobs:
  run:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10"]
        os: [windows-latest, ubuntu-latest, macos-latest]

    steps:
    - uses: actions/checkout@v2

    - name: Setup python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Debug Python
      shell: bash -l {0}
      run: |
        which python3
        python3 --version

    - name: ${{ matrix.os }} python ${{ matrix.python-version }}
      shell: bash -l {0}
      run: |
        python3 -m pip install -r requirements.txt
        python3 -m pip install -e . --no-deps --force-reinstall
        pushd cbsyst/test_data/GLODAP_data && python3 get_GLODAP_data.py && popd
        python3 setup.py test
